*
  margin: 0
  padding: 0



.header
  height: 288px
  background-image: url(img/hedfoto.svg)
  background-repeat: no-repeat
  background-size: cover
  display: flex
  justify-content: space-between
  background-position: 90%



  &__logo
    padding-top: 38px
    padding-left: 20px
    width: 100px
    height: 29px

  &__mini
    width: 40px
    padding-top: 38px
    padding-right: 20px

  &__mini__item
    background-color: #ffffff
    height: 7px
    margin-bottom: 7px
    &:last-of-type
      margin-bottom: 0

  &__send
    height: 179px
    padding: 20px
    display: flex
    justify-content: center
    align-items: center

    &_ul
      list-style-type: none

    &_li1
      height: 77px
      color: #000000
      font-family: "Myriad Pro"
      font-size: 32px
      font-weight: 900

    &_li2
      height: 29px
      color: #000000
      font-family: "Myriad Pro"
      font-size: 24px
      font-weight: 700
      padding-top: 8px

    &_li3
      padding-top: 17px


    &_butt

      color: #ffffff
      font-family: "Myriad Pro"
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      width: 278px
      height: 48px
      background-color: #008dcd
      border-radius: 30px



.group
  height: 371px
  padding-top: 17px
  padding-right: 21px
  padding-left: 21px
  background-color: #f7f7f7
  display: flex
  flex-wrap: wrap
  justify-content: center

.group1
  height: 113px
  margin-left: 21px
  background-image: url(img/gr1backimg.svg)
  background-repeat: no-repeat
  display: flex
  justify-content: space-between
  align-items: center

  &__iconleft_ul1
    list-style-type: none

  &__iconleft_ul1_li1
    height: 23px
    padding-top: 15px
    padding-left: 58px

  &__iconleft_ul1_li2
    height: 30px
    padding-left: 5px

  &__iconleft_ul1_li3
    height: 25px
    margin-top: -20px
    padding-left: 55px

  &__iconleft_ul1_li4
    height: 31px
    padding-left: 14px

  &__iconleft_ul2
    list-style-type: none

  &__iconcenter
    height: 113px
    padding-top: 56px
    padding-right: 85px

  &__iconleft_ul2_li1
    margin-left: -95px

  &__iconleft_ul2_li2
    padding-right: 34px
    margin-left: -25px

  &__iconleft_ul2_li3
    padding-right: 57px
    margin-left: -75px

  &__iconleft_ul2_li4
    margin-left: -25px

.group2
  padding-top: 45px

  &__ul
    list-style-type: none

  &__li1
    width: 278px
    height: 22px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 18px
    font-weight: 700
    padding-bottom: 10px

  &__li2
    width: 278px
    height: 78px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 12px
    font-weight: 400

  &__li3
    padding-top: 12px

.step1
  padding-top: 17px
  padding-right: 21px
  padding-left: 21px
  display: flex
  justify-content: center
  align-items: center

  &__ul
    list-style-type: none

  &__li1
    height: 188px

  &__li2
    width: 281px
    height: 22px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 26px
    font-weight: 600
    padding-top: 24px

  &__li3
    width: 280px
    height: 57px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    padding-top: 10px

  &__li4
    width: 279px
    height: 64px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    padding-top: 10px

  &__li5
    width: 239px
    height: 57px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    padding-top: 10px

  &__li6
    width: 275px
    height: 58px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    padding-top: 10px

.step3
  padding-top: 34px
  padding-right: 21px
  padding-left: 21px
  display: flex
  justify-content: center
  align-items: center

.concern
  height: 161px
  background-color: #f7f7f7
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  &__text
    width: 278px
    height: 58px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 24px
    font-weight: 700
    margin-bottom: -25px

.coll
  height: 283px
  background-color: #008dcd
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  padding-left: 21px
  padding-right: 20px

  &__textb
    width: 392px
    height: 68px
    color: #ffffff
    font-family: "Myriad Pro"
    font-size: 28px
    font-weight: 900
    text-transform: uppercase

  &__texts
    width: 296px
    height: 27px
    color: #ffffff
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 600
    line-height: 13.13px

  &__form__p
    width: 280px
    height: 48px
    border-radius: 30px
    border: 1px solid #ffffff

  &__form__phone
    width: 212px
    height: 20px
    font-family: "Myriad Pro"
    font-size: 16px
    font-weight: 400
    background-color: #008dcd
    margin-top: 15px
    margin-left: 24px
    border: none

  &__form__phone::-webkit-input-placeholder
    color: #ffffff

  &__form__b
    width: 280px
    height: 48px
    border-radius: 30px
    background-color: #ffcc00
    margin-top: 9px

  &__form__butt
    width: 210px
    height: 20px
    color: #363636
    font-family: "Myriad Pro"
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    background-color: #ffcc00
    border: none
    margin-top: 15px
    margin-left: 35px

  &__form__check
    display: flex
    justify-content: center
    align-items: center
    padding-top: 6px

  &__form__checkbox
    width: 10px
    height: 10px
    border: 1px solid #ffffff
    color: #008dcd

  &__form__checkmark
    width: 272px
    height: 12px
    color: #ffffff
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-left: 8px

.commentarrow
  display: flex
  justify-content: center
  align-items: center
  padding-top: 20px
  padding-left: 21px
  padding-right: 21px

  &_arrow
    color: #c4c4c4

.comment

  &__h3
    height: 27px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 28px
    font-weight: 700


  &__foto
    padding-top: 12px
    padding-left: 24px

  &__fototext
    display: flex

  &__text
    padding-top: 6px
    padding-left: 20px


  &__text__ul
    list-style-type: none
    text-decoration: none

  &__text__li1
    height: 27px
    font-family: "Myriad Pro"
    font-size: 26px
    font-weight: 400

  &__text__li2
    height: 15px
    font-family: "Myriad Pro"
    font-size: 18px
    font-weight: 400
    padding-top: 4px

  &__text__li3
    height: 12px
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-top: 11px

  &__text__li4
    height: 12px
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-top: 5px

  &__text__li5
    height: 12px
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-top: 4px

  &__text__li1_a
    color: #000000
    text-decoration: none

  &__discript
    min-height: 127px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 12px
    font-weight: 400
    padding-top: 13px

.advant
  background-color: #f7f7f7
  height: 403px
  padding-left: 19px
  padding-right: 21px
  padding-top: 23px

  &__h3
    height: 68px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 28px
    font-weight: 700

  &__icon
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(86px, 1fr))
    padding-top: 21px
    grid-gap: 10px

  &__icon1__foto1
    width: 5.5em
    height: 5.5em
    border-radius: 50%
    background: #ffffff
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px

  &__icon1__text1
    color: #000000
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-top: 9px
    width: 62px
    text-align: center
    padding-left: 12px

.garant
  padding-top: 26px
  padding-right: 21px
  padding-left: 21px

  &__arrowblock
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 17px

  &__h3
    width: 278px
    height: 27px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 28px
    font-weight: 700

  &__foto
    width: 4em
    height: 4em
    border-radius: 50%
    background: #f7f7f7
    display: flex
    justify-content: center
    align-items: center

  &__text
    width: 160px
    height: 39px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 16px
    font-weight: 600

  &__textblock
    height: 80px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 12px
    font-weight: 400
    padding-top: 14px
    padding-left: 24px
    padding-right: 24px

  &__link
    height: 48px
    border-radius: 30px
    background-color: #008dcd
    padding-top: 7px
    display: flex
    justify-content: center
    align-items: center
    margin-left: 24px
    margin-right: 24px
    text-align: center
    margin-bottom: 20px


  &__link_text
    height: 20px
    color: #ffffff
    font-family: "Myriad Pro"
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    text-decoration: none

.question
  background-color: #d2ecf7
  padding-right: 21px
  padding-left: 21px
  padding-bottom: 25px

  &__h3
    height: 55px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 28px
    font-weight: 700
    padding-top: 29px

  &__block1
    height: 80px
    border-radius: 32px
    background-color: #ffffff
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 21px

  &__block1__text
    height: 51px
    color: #000000
    nt-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    display: flex
    padding-right: 10px
    padding-left: 23px

  &__block1__text2
    height: 34px
    color: #000000
    nt-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    display: flex
    padding-right: 10px
    padding-left: 23px

  &__block1__arrow
    color: #008dcd
    padding-right: 23px
    height: 34px

.brand
  padding: 16px 20px 18px 21px
  display: flex
  justify-content: space-between
  align-items: center

  &__block
    display: grid
    grid-template-columns: repeat(3, minmax(66px, 1fr))
    grid-gap: 10px
    justify-items: center
    height: 77px
    align-items: center

.footer
  padding: 12px 8px 2px 14px
  background-color: #e9e9e9

  &__questions
    border-bottom: 1px solid #c4c4c4

  &__textb
    height: 38px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 18px
    font-weight: 600

  &__form
    display: flex
    justify-content: center
    align-items: center

  &__form__b
    margin-top: 10px

  &__form__p
    height: 40px
    border-radius: 30px
    border: 1px solid #363636
    display: flex
    justify-content: center
    align-items: center

  &__form__phone
    height: 17px
    color: #363636
    font-family: "Myriad Pro"
    font-size: 14px
    font-weight: 400
    background-color: #e9e9e9
    border: none
    padding-right: 110px
    outline: none

  &__form__b
    height: 40px
    border-radius: 30px
    background-color: #008dcd
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 10px

  &__form__butt
    width: 226px
    height: 17px
    color: #ffffff
    font-family: "Myriad Pro"
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    border: none
    background-color: #008dcd

  &__form__check
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 13px

  &__form__checkbox
    width: 10px
    height: 10px
    border: 1px solid #9e9e9e

  &__form__checkmark
    width: 272px
    height: 12px
    color: #9e9e9e
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400
    padding-left: 10px

  &__head
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 24px
    padding-bottom: 17px
    border-bottom: 1px solid #c4c4c4

  &__mini
    width: 40px

  &__item
    background-color: #363636
    height: 7px
    margin-bottom: 7px
    &:last-of-type
      margin-bottom: 0

  &__text
    padding-top: 18px
    display: flex
    justify-content: space-between
    align-items: center

  &__text1
    height: 20px
    color: #000000
    font-family: "Myriad Pro"
    font-size: 10px
    font-weight: 400


@media (min-width: 320px)

  .header
    &__max
      display: none

    &__send__tablet
      display: none

@media (min-width: 575.98px)
  .center
    padding: 0 calc(50% - 270px)
  .header
    height: 415px
    display: flex
    flex-wrap: wrap
    background-position: 70%

    &__max
      display: contents

    &__max__block
      padding-top: 38px
      height: 17px
      font-family: "Myriad Pro"
      font-size: 14px
      font-weight: 400

    &__max__link
      text-decoration: none
      color: #ffffff

    &__logo
      padding-top: 29px
      width: 100px
      height: 29px

    &__send
      display: none

    &__send__tablet
      display: contents

    &__send__tablet_ul
      list-style-type: none
      padding-left: 20px
      padding-bottom: 18px

    &__send__tablet_li1
      width: 400px
      height: 106px
      color: #ffffff
      font-family: "Myriad Pro"
      font-size: 44px
      font-weight: 900
      padding-bottom: 18px

    &__send__tablet_li2
      width: 302px
      height: 34px
      color: #ffffff
      font-family: "Myriad Pro"
      font-size: 28px
      font-weight: 700

    &__send__tablet_li3
      padding-top: 36px



    &__send__tablet_butt
      width: 280px
      height: 48px
      border-radius: 30px
      background-color: #008dcd
      border: none
      color: #ffffff
      font-family: "Myriad Pro"
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
      outline: none








@media (min-width: 767.98px)
  .center
    padding: 0 calc(50% - 360px)
  .header
    &__mini
      display: none

    &__max



@media (min-width: 991.98px)
  .center
    padding: 0 calc(50% - 480px)

@media (min-width: 1199.98px)
  .center
    padding: 0 calc(50% - 590px)