* {
  margin: 0;
  padding: 0; }

.header {
  height: 288px;
  background-image: url(img/hedfoto.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  background-position: 90%; }
  .header__logo {
    padding-top: 38px;
    padding-left: 20px;
    width: 100px;
    height: 29px; }
  .header__mini {
    width: 40px;
    padding-top: 38px;
    padding-right: 20px; }
  .header__mini__item {
    background-color: #ffffff;
    height: 7px;
    margin-bottom: 7px; }
    .header__mini__item:last-of-type {
      margin-bottom: 0; }
  .header__send {
    height: 179px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__send_ul {
      list-style-type: none; }
    .header__send_li1 {
      height: 77px;
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 32px;
      font-weight: 900; }
    .header__send_li2 {
      height: 29px;
      color: #000000;
      font-family: "Myriad Pro";
      font-size: 24px;
      font-weight: 700;
      padding-top: 8px; }
    .header__send_li3 {
      padding-top: 17px; }
    .header__send_butt {
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      width: 278px;
      height: 48px;
      background-color: #008dcd;
      border-radius: 30px; }

.group {
  height: 371px;
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.group1 {
  height: 113px;
  margin-left: 21px;
  background-image: url(img/gr1backimg.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .group1__iconleft_ul1 {
    list-style-type: none; }
  .group1__iconleft_ul1_li1 {
    height: 23px;
    padding-top: 15px;
    padding-left: 58px; }
  .group1__iconleft_ul1_li2 {
    height: 30px;
    padding-left: 5px; }
  .group1__iconleft_ul1_li3 {
    height: 25px;
    margin-top: -20px;
    padding-left: 55px; }
  .group1__iconleft_ul1_li4 {
    height: 31px;
    padding-left: 14px; }
  .group1__iconleft_ul2 {
    list-style-type: none; }
  .group1__iconcenter {
    height: 113px;
    padding-top: 56px;
    padding-right: 85px; }
  .group1__iconleft_ul2_li1 {
    margin-left: -95px; }
  .group1__iconleft_ul2_li2 {
    padding-right: 34px;
    margin-left: -25px; }
  .group1__iconleft_ul2_li3 {
    padding-right: 57px;
    margin-left: -75px; }
  .group1__iconleft_ul2_li4 {
    margin-left: -25px; }

.group2 {
  padding-top: 45px; }
  .group2__ul {
    list-style-type: none; }
  .group2__li1 {
    width: 278px;
    height: 22px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px; }
  .group2__li2 {
    width: 278px;
    height: 78px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400; }
  .group2__li3 {
    padding-top: 12px; }

.step1 {
  padding-top: 17px;
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .step1__ul {
    list-style-type: none; }
  .step1__li1 {
    height: 188px; }
  .step1__li2 {
    width: 281px;
    height: 22px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 26px;
    font-weight: 600;
    padding-top: 24px; }
  .step1__li3 {
    width: 280px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px; }
  .step1__li4 {
    width: 279px;
    height: 64px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px; }
  .step1__li5 {
    width: 239px;
    height: 57px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px; }
  .step1__li6 {
    width: 275px;
    height: 58px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px; }

.step3 {
  padding-top: 34px;
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  justify-content: center;
  align-items: center; }

.concern {
  height: 161px;
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .concern__text {
    width: 278px;
    height: 58px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 700;
    margin-bottom: -25px; }

.coll {
  height: 283px;
  background-color: #008dcd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 21px;
  padding-right: 20px; }
  .coll__textb {
    width: 392px;
    height: 68px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase; }
  .coll__texts {
    width: 296px;
    height: 27px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 600;
    line-height: 13.13px; }
  .coll__form__p {
    width: 280px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid #ffffff; }
  .coll__form__phone {
    width: 212px;
    height: 20px;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    background-color: #008dcd;
    margin-top: 15px;
    margin-left: 24px;
    border: none; }
  .coll__form__phone::-webkit-input-placeholder {
    color: #ffffff; }
  .coll__form__b {
    width: 280px;
    height: 48px;
    border-radius: 30px;
    background-color: #ffcc00;
    margin-top: 9px; }
  .coll__form__butt {
    width: 210px;
    height: 20px;
    color: #363636;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffcc00;
    border: none;
    margin-top: 15px;
    margin-left: 35px; }
  .coll__form__check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px; }
  .coll__form__checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    color: #008dcd; }
  .coll__form__checkmark {
    width: 272px;
    height: 12px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    padding-left: 8px; }

.commentarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 21px;
  padding-right: 21px; }
  .commentarrow_arrow {
    color: #c4c4c4; }

.comment__h3 {
  height: 27px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 28px;
  font-weight: 700; }
.comment__foto {
  padding-top: 12px;
  padding-left: 24px; }
.comment__fototext {
  display: flex; }
.comment__text {
  padding-top: 6px;
  padding-left: 20px; }
.comment__text__ul {
  list-style-type: none;
  text-decoration: none; }
.comment__text__li1 {
  height: 27px;
  font-family: "Myriad Pro";
  font-size: 26px;
  font-weight: 400; }
.comment__text__li2 {
  height: 15px;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 400;
  padding-top: 4px; }
.comment__text__li3 {
  height: 12px;
  font-family: "Myriad Pro";
  font-size: 10px;
  font-weight: 400;
  padding-top: 11px; }
.comment__text__li4 {
  height: 12px;
  font-family: "Myriad Pro";
  font-size: 10px;
  font-weight: 400;
  padding-top: 5px; }
.comment__text__li5 {
  height: 12px;
  font-family: "Myriad Pro";
  font-size: 10px;
  font-weight: 400;
  padding-top: 4px; }
.comment__text__li1_a {
  color: #000000;
  text-decoration: none; }
.comment__discript {
  min-height: 127px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 400;
  padding-top: 13px; }

.advant {
  background-color: #f7f7f7;
  height: 403px;
  padding-left: 19px;
  padding-right: 21px;
  padding-top: 23px; }
  .advant__h3 {
    height: 68px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 28px;
    font-weight: 700; }
  .advant__icon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
    padding-top: 21px;
    grid-gap: 10px; }
  .advant__icon1__foto1 {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; }
  .advant__icon1__text1 {
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    padding-top: 9px;
    width: 62px;
    text-align: center;
    padding-left: 12px; }

.garant {
  padding-top: 26px;
  padding-right: 21px;
  padding-left: 21px; }
  .garant__arrowblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17px; }
  .garant__h3 {
    width: 278px;
    height: 27px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 28px;
    font-weight: 700; }
  .garant__foto {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center; }
  .garant__text {
    width: 160px;
    height: 39px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 600; }
  .garant__textblock {
    height: 80px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 12px;
    font-weight: 400;
    padding-top: 14px;
    padding-left: 24px;
    padding-right: 24px; }
  .garant__link {
    height: 48px;
    border-radius: 30px;
    background-color: #008dcd;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    margin-bottom: 20px; }
  .garant__link_text {
    height: 20px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; }

.question {
  background-color: #d2ecf7;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 25px; }
  .question__h3 {
    height: 55px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 28px;
    font-weight: 700;
    padding-top: 29px; }
  .question__block1 {
    height: 80px;
    border-radius: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px; }
  .question__block1__text {
    height: 51px;
    color: #000000;
    nt-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding-right: 10px;
    padding-left: 23px; }
  .question__block1__text2 {
    height: 34px;
    color: #000000;
    nt-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding-right: 10px;
    padding-left: 23px; }
  .question__block1__arrow {
    color: #008dcd;
    padding-right: 23px;
    height: 34px; }

.brand {
  padding: 16px 20px 18px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .brand__block {
    display: grid;
    grid-template-columns: repeat(3, minmax(66px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    height: 77px;
    align-items: center; }

.footer {
  padding: 12px 8px 2px 14px;
  background-color: #e9e9e9; }
  .footer__questions {
    border-bottom: 1px solid #c4c4c4; }
  .footer__textb {
    height: 38px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: 600; }
  .footer__form {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__form__b {
    margin-top: 10px; }
  .footer__form__p {
    height: 40px;
    border-radius: 30px;
    border: 1px solid #363636;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__form__phone {
    height: 17px;
    color: #363636;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 400;
    background-color: #e9e9e9;
    border: none;
    padding-right: 110px;
    outline: none; }
  .footer__form__b {
    height: 40px;
    border-radius: 30px;
    background-color: #008dcd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
  .footer__form__butt {
    width: 226px;
    height: 17px;
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #008dcd; }
  .footer__form__check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px; }
  .footer__form__checkbox {
    width: 10px;
    height: 10px;
    border: 1px solid #9e9e9e; }
  .footer__form__checkmark {
    width: 272px;
    height: 12px;
    color: #9e9e9e;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    padding-left: 10px; }
  .footer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 17px;
    border-bottom: 1px solid #c4c4c4; }
  .footer__mini {
    width: 40px; }
  .footer__item {
    background-color: #363636;
    height: 7px;
    margin-bottom: 7px; }
    .footer__item:last-of-type {
      margin-bottom: 0; }
  .footer__text {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__text1 {
    height: 20px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400; }

@media (min-width: 320px) {
  .header__max {
    display: none; }
  .header__send__tablet {
    display: none; } }
@media (min-width: 575.98px) {
  .center {
    padding: 0 calc(50% - 270px); }

  .header {
    height: 415px;
    display: flex;
    flex-wrap: wrap;
    background-position: 70%; }
    .header__max {
      display: contents; }
    .header__max__block {
      padding-top: 38px;
      height: 17px;
      font-family: "Myriad Pro";
      font-size: 14px;
      font-weight: 400; }
    .header__max__link {
      text-decoration: none;
      color: #ffffff; }
    .header__logo {
      padding-top: 29px;
      width: 100px;
      height: 29px; }
    .header__send {
      display: none; }
    .header__send__tablet {
      display: contents; }
    .header__send__tablet_ul {
      list-style-type: none;
      padding-left: 20px;
      padding-bottom: 18px; }
    .header__send__tablet_li1 {
      width: 400px;
      height: 106px;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 44px;
      font-weight: 900;
      padding-bottom: 18px; }
    .header__send__tablet_li2 {
      width: 302px;
      height: 34px;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 28px;
      font-weight: 700; }
    .header__send__tablet_li3 {
      padding-top: 36px; }
    .header__send__tablet_butt {
      width: 280px;
      height: 48px;
      border-radius: 30px;
      background-color: #008dcd;
      border: none;
      color: #ffffff;
      font-family: "Myriad Pro";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      outline: none; } }
@media (min-width: 767.98px) {
  .center {
    padding: 0 calc(50% - 360px); }

  .header__mini {
    display: none; } }
@media (min-width: 991.98px) {
  .center {
    padding: 0 calc(50% - 480px); } }
@media (min-width: 1199.98px) {
  .center {
    padding: 0 calc(50% - 590px); } }

/*# sourceMappingURL=style.css.map */
